.items {
    width: 800px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}

.btn-button a{
    box-sizing: border-box;
    display: inline-block;
    background-color: #eeeeee;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 0;
    top: -60px;
    text-decoration: none;
    border: 1px dashed black;
    text-align: center;
    padding-top:10px;
}

.item-el {
    margin: 20px 0;
    background-color: #eeeeee;
}

.edit {
    position: absolute;
    top:2px;
    right: 10px;
    width: 32px;
    height: 32px;
}

.name {
    font-size: 24px;
    height: 32px;
    position: relative;
    padding-left: 30px;
}

span{
    display: inline-block;
}

span:first-of-type{
    width: 250px;
}

.date {
    padding-left:30px; 
}