<div class="items">
        <div class="btn-button">
                <a routerLink="./create">Create Team</a>
            </div>
    <div *ngFor="let item of teamArr" class="item-el">
        <div class="name">
            <span>{{item.name}}</span>
            <span class="date">{{item.createdAt | UADate}}</span>
            <span class="edit"><a [routerLink]="['edit', item.id]"><img src="assets/images/edit.png" alt="Edit"></a></span>
        </div>        
    </div>
</div>