<div class="items">
        <div class="btn-button">
                <a routerLink="./create">Create Task</a>
            </div>
        <div *ngFor="let item of taskArr" class="item-el">
            <div class="name">
                {{item.name}}
                <span class="state" [appStateColor] = item.state></span>
                <span class="edit"><a [routerLink]="['edit', item.id]"><img src="assets/images/edit.png" alt="Edit"></a></span>
            </div>        
            <div class="flex start">
                <span class="date">{{item.createdAt | UADate}}</span>
                <span>--</span>
                <span class="date">{{item.finishedAt | UADate}}</span>
            </div>
            <div>
                <p class="key">Project id: {{item.projectId}}</p>
                <p class="key">Performer id: {{item.performerId}}</p>
            </div>
            <span class="description">{{item.description}}</span>
        </div>
    </div>