<div class="wrapper">
<form [formGroup]="_projectForm" novalidate (ngSubmit)="save()">
        <div>
            <label>Name</label>
            <input name="projName" formControlName="projectName"/>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectName'].invalid && _projectForm.controls['projectName'].touched">
                Name is not entered
            </div>
        </div>
        <div>
            <label>CreatedAt</label>
            <input class="form-control" name="created" formControlName="projectCreatedAt"/>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectCreatedAt'].invalid && _projectForm.controls['projectCreatedAt'].touched">
                Incorrect data inputed
            </div>
        </div>
        <div class="form-group">
            <label>Deadline</label>
            <input name="deadline" formControlName="projectDeadline"/>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectDeadline'].invalid && _projectForm.controls['projectDeadline'].touched">
                Incorrect data inputed;
            </div>
        </div>
        <div class="form-group">
            <label>Author Id</label>
            <input type="number" name="authorId" formControlName="projectAuthorId"/>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectAuthorId'].invalid && _projectForm.controls['projectAuthorId'].touched">
                Incorrect author id inputed
            </div>
        </div>
        <div class="form-group">
            <label>Team Id</label>
            <input type="number" name="teamId" formControlName="projectTeamId"/>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectTeamId'].invalid && _projectForm.controls['projectTeamId'].touched">
                Incorrect team id inputed
            </div>
        </div>
        <div >
            <label>Description</label>
            <textarea name="description" formControlName="projectDescription"></textarea>
            <div class="alert alert-danger"
                *ngIf="_projectForm.controls['projectDescription'].invalid && _projectForm.controls['projectDescription'].touched">
                Incorrect description inputed
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" [disabled]="_projectForm.invalid">
                Save
            </button>
        </div>
    </form>
</div>