<div class="items">
        <div class="btn-button">
                <a routerLink="./create">Create User</a>
            </div>
        <div *ngFor="let item of userArr" class="item-el">
            <div class="name">
                {{item.firstName}} {{item.lastName}}
                <span class="edit"><a [routerLink]="['edit', item.id]"><img src="assets/images/edit.png" alt="Edit"></a></span>
            </div>
            <div>
                    <p class="key">Email: {{item.email}}</p>
                    <p class="key">Birthday: {{item.birthday | UADate}}</p>
                    <p class="key">Registered at: {{item.registeredAt | UADate}}</p>
                    <p class="key">Team id: {{item.teamId}}</p>
            </div>        
        </div>
    </div>