div {
	box-sizing: border-box;
}

a {
    text-decoration: none;
}

header, footer {
	background-color: #dddddd;
    width: 100%;
    height: 80px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 30px;
    color: black;
    font-size: 25px;
    
}

.copyright {
    padding: 17px 0;
    text-align: center;
}