<header>
        <div class="wrapper">
            <div class="menu">
                <ul>
                        <li><a routerLink="">Home</a></li>
                    <li><a routerLink="./project">Projects</a></li>
                    <li><a routerLink="./task">Tasks</a></li>
                    <li><a routerLink="./team">Teams</a></li>
                    <li><a routerLink="./user">Users</a></li>
                </ul>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
<footer>
        <div class="wrapper">
            <div class="copyright">
                    <p>&copy; 2019 Ragno_Nero. All rights reserved</p>
            </div>	
        </div>
</footer>