<div class="wrapper">
        <form [formGroup]="_userForm" novalidate (ngSubmit)="save()">
                <div>
                    <label>FirstName</label>
                    <input name="userName" formControlName="userFirstname"/>
                    <div class="alert alert-danger"
                        *ngIf="_userForm.controls['userFirstname'].invalid && _userForm.controls['userFirstname'].touched">
                        Name is not entered
                    </div>
                </div>
                <div>
                    <label>LastName</label>
                    <input class="form-control" name="last" formControlName="userLastname"/>
                    <div class="alert alert-danger"
                        *ngIf="_userForm.controls['userLastname'].invalid && _userForm.controls['userLastname'].touched">
                        Incorrect data inputed
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input name="mail" type="email" formControlName="userEmail"/>
                    <div class="alert alert-danger"
                        *ngIf="_userForm.controls['userEmail'].invalid && _teamForm.controls['userEmail'].touched">
                        Incorrect email inputed;
                    </div>
                </div>
                <div class="form-group">
                    <label>Birthday</label>
                    <input name="birth" formControlName="userBirthday"/>
                    <div class="alert alert-danger"
                        *ngIf="_userForm.controls['userBirthday'].invalid && _userForm.controls['userBirthday'].touched">
                        Incorrect user birthday inputed
                    </div>
                </div>
                <div class="form-group">
                    <label>Registered At</label>
                    <input name="registered" formControlName="userRegisteredAt"/>
                    <div class="alert alert-danger"
                        *ngIf="_userForm.controls['userRegisteredAt'].invalid && _userForm.controls['userRegisteredAt'].touched">
                        Incorrect data inputed
                    </div>
                </div>
                <div class="form-group">
                        <label>Team Id</label>
                        <input type="number" name="state" formControlName="userTeamId"/>
                        <div class="alert alert-danger"
                            *ngIf="_userForm.controls['userTeamId'].invalid && _userForm.controls['userTeamId'].touched">
                            Incorrect team id inputed
                        </div>
                    </div>
                <div class="form-group">
                    <button class="btn btn-default" [disabled]="_userForm.invalid">
                        Save
                    </button>
                </div>
            </form>
        </div>