<div class="wrapper">
        <form [formGroup]="_taskForm" novalidate (ngSubmit)="save()">
                <div>
                    <label>Name</label>
                    <input name="taskName" formControlName="taskName"/>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskName'].invalid">
                        Name is not entered
                    </div>
                </div>
                <div>
                    <label>Created At</label>
                    <input class="form-control" name="created" formControlName="taskCreatedAt"/>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskCreatedAt'].invalid">
                        Incorrect data inputed
                    </div>
                </div>
                <div class="form-group">
                    <label>Finished At</label>
                    <input name="deadline" formControlName="taskFinishedAt"/>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskFinishedAt'].invalid">
                        Incorrect data inputed;
                    </div>
                </div>
                <div class="form-group">
                    <label>Project Id</label>
                    <input type="number" name="projectId" formControlName="taskProjectId"/>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskProjectId'].invalid">
                        Incorrect author id inputed
                    </div>
                </div>
                <div class="form-group">
                    <label>Performer Id</label>
                    <input type="number" name="performerId" formControlName="taskPerformerId"/>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskPerformerId'].invalid">
                        Incorrect team id inputed
                    </div>
                </div>
                <div class="form-group">
                        <label>State</label>
                        <input type="number" name="state" formControlName="taskState"/>
                        <div class="alert alert-danger"
                            *ngIf="_taskForm.controls['taskState'].invalid">
                            Incorrect team id inputed
                        </div>
                    </div>
                <div >
                    <label>Description</label>
                    <textarea name="description" formControlName="taskDescription"></textarea>
                    <div class="alert alert-danger"
                        *ngIf="_taskForm.controls['taskDescription'].invalid">
                        Incorrect description inputed
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" [disabled]="_taskForm.invalid">
                        Save
                    </button>
                </div>
            </form>
        </div>