<div class="items">
    <div class="btn-button">
        <a routerLink="./create">Create Project</a>
    </div>
    <div *ngFor="let item of projArr" class="item-el">
        <div class="name">
            {{item.name}}
            <span class="edit"><a [routerLink]="['edit', item.id]"><img src="assets/images/edit.png" alt="Edit"></a></span>
        </div>        
        <div class="flex start">
            <span class="date">{{item.createdAt | UADate}}</span>
            <span>--</span>
            <span class="date">{{item.deadline | UADate}}</span>
        </div>
        <div class="info">
            <p class="key">Author: {{item.authorId}}</p>
            <p class="key">Team: {{item.teamId}}</p>
        </div>
        <span class="description">{{item.description}}</span>
    </div>
</div>