.items {
    width: 800px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
}

.btn-button a{
    box-sizing: border-box;
    display: inline-block;
    background-color: #eeeeee;
    width: 120px;
    height: 50px;
    position: absolute;
    right: 0;
    top: -60px;
    text-decoration: none;
    border: 1px dashed black;
    text-align: center;
    padding-top:10px;
}

.item-el {
    margin: 20px 0;
    background-color: #eeeeee;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: start;
}

.edit {
    position: absolute;
    top:2px;
    right: 10px;
}

.name {
    font-size: 24px;
    height: 32px;
    position: relative;
    padding-left: 30px;
}

.edit {
    width: 32px;
    height: 32px;
}

.flex span {
    padding: 5px 30px;
}

p.key{
    margin: 5px 0;
}

.info{
    padding: 0 5px;
}

.description {
    text-align: justify;
    padding: 10px 5px;
}