input.ng-touched.ng-invalid {
    border:solid red 2px;
}

input.ng-touched.ng-valid {
    border:solid green 2px;
}

div {
    margin: 10px;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

label{
    width: 120px;
    font-size: 20px;
    display: inline-block;
}

input, textarea {
    width: 450px;
    height: 20px;
}

textarea {
    height: 100px;;
}

.alert {
    color: red;
    padding-left: 120px;
}

button {
    width: 120px;
    height: 40px;
    margin: 10px 0 0 260px;
}