<div class="wrapper">
        <form [formGroup]="_teamForm" novalidate (ngSubmit)="save()">
                <div>
                    <label>Name</label>
                    <input name="teamName" formControlName="teamName"/>
                    <div class="alert alert-danger"
                        *ngIf="_teamForm.controls['teamName'].invalid">
                        Name is not entered
                    </div>
                </div>
                <div>
                    <label>Created At</label>
                    <input class="form-control" name="created" formControlName="teamCreatedAt"/>
                    <div class="alert alert-danger"
                        *ngIf="_teamForm.controls['teamCreatedAt'].invalid">
                        Incorrect data inputed
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" [disabled]="_teamForm.invalid">
                        Save
                    </button>
                </div>
            </form>
        </div>